<div>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="title">Task Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <!---------------------------->
      <div class="form-group">
        <label for="tasktype">Task Type</label>
        <input
          type="text"
          class="form-control"
          id="tasktype"
          [(ngModel)]="currentTutorial.tasktype"
          name="tasktype"
        />
      </div>
      <div class="form-group">
        <label for="weighing">Weight</label>
        <input
          type="number" min="0" max="1000"
          class="form-control"
          id="weighing"
          [(ngModel)]="currentTutorial.weighing"
          name="weighing"
        />
      </div>      
      <!---------------------------->

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Activated" : "Pending" }}
      </div>
    </form>

    <div class="button_group">
      <button 
        class="btn btn-primary" 
        *ngIf="!currentTutorial.published" 
        (click)="updatePublished(true)"
        title="Activate" type="button"
      >
        <i class="fas fa-upload"></i>  
        Activate 
      </button>

      <button 
        class="btn btn-warning" 
        *ngIf="currentTutorial.published"  
        (click)="updatePublished(false)"
        title="Deactivate" type="button"
      >
        <i class="fas fa-download"></i>  
        Deactivate 
      </button>

      <button 
        class="btn btn-danger" 
        (click)="deleteTutorial()" 
        title="Delete" 
        type="button"
      >
        <i class="fas fa-trash-alt"></i>  
        Delete 
      </button>

      <button 
        class="btn btn-success" 
        (click)="updateTutorial()" 
        title="Update" 
        type="submit"
      >
        <i class="fas fa-save"></i>   
        Update  
      </button>
    </div>

    
    <!--
    <br />

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"  (click)="updatePublished(false)"
    >
      Deactivate
    </button>
    <button
      *ngIf="!currentTutorial.published" 
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Activate
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>
    -->
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Task ...</p>
  </div>
</div>
