<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Task Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="tasktype">Task Type</label>
        <input
          class="form-control"
          id="tasktype"
          required
          [(ngModel)]="tutorial.tasktype"
          name="tasktype"
        />
      </div>

      <div class="form-group">
        <label for="weigting">Weight</label>
        <input
          class="form-control"
          id="weigting"
          required
          [(ngModel)]="tutorial.weighing"
          name="weighing"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <br />
      <button (click)="saveTutorial()" class="btn btn-primary" title="Add Task"><i class="fas fa-plus"></i>  Add Task</button>
    </div>

    <div *ngIf="submitted">
      <h4>Task was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()"><i class="fas fa-plus"></i>  Add </button>
    </div>
  </div>
</div>
