.list {
  text-align: left;
  max-width: 1100px;
  margin: auto;
}
.rowhead {
  font-weight: bold;
  padding-right: 3px;
}
.rightAligned {
  text-align: right; 
  margin-right: 1em;
  padding: 2px 3px 2 px 4px;
}