<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by task name"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button 
          class="btn btn-primary"
          type="button"
          (click)="searchTitle()"
        >
          <i class="fas fa-search"></i> Search ... 
        </button>
      </div>
    </div>
  </div>
  <br />
  <!--- Start Data Table -->
  <div class="col-md-12">
    <h1>List of Tasks</h1>
    
    <table class="table table-striped table-hover table-responsive table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="rowhead">#</th>
          <th>Task</th>
          <th>Type</th>
          <th>Weight</th>
          <th>Description</th>
          <th>Active</th>
          <th class="rightAligned"> Edit </th>

        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let tutorial of tutorials; let i = index" 
        >          
          <td class="rowhead">{{ tutorial.id }}  </td>
          <td>{{ tutorial.title }}</td>
          <td>{{ tutorial.tasktype }}</td>
          <td>{{ tutorial.weighing }}</td>
          <td>{{ tutorial.description }}</td>
          <td>{{ tutorial.published }}</td>
          <td class="rightAligned">
            <button 
              class="btn btn-warning btn-sm"  
              routerLink="/tutorials/{{ currentTutorial.id }}" 
              title="Edit" 
            >
              <i class="fas fa-edit"></i>
            </button>             
          </td>
        </tr>
        <!---
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let tutorial of tutorials; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveTutorial(tutorial, i)"
          >
            {{ tutorial.title }}
          </li>
        </ul>        
        -->
      </tbody>
    </table>
    <br /><br />    
  </div>
  <!--/ End of Data Table -->
  <div class="col-md-6">
    <h4>Task List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.title }}
      </li>
    </ul>

    <!--
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button>
    -->
  </div>
  <div class="col-md-6">
    <div *ngIf="currentTutorial.id">
      <h4>Task</h4>
      <div>
        <label><strong>Task Name:</strong></label> {{ currentTutorial.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentTutorial.description }}
      </div>

      <div>
        <label><strong>Weight:</strong></label>
        {{ currentTutorial.weighing }}
      </div>
      <div>
        <label><strong>Task Type:</strong></label>
        {{ currentTutorial.tasktype }}
      </div>      

      <div>
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Activated" : "Pending" }}
      </div>

      <!--
      <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
        Edit
      </a>
      -->

      <button 
        class="btn btn-warning"  
        routerLink="/tutorials/{{ currentTutorial.id }}" 
        title="Edit" 
      >
        <i class="fas fa-edit"></i>   
        Update ... 
      </button>      
    </div>

    <div *ngIf="!currentTutorial">
      <br />
      <p>Please click on a Task ...</p>
    </div>
  </div>
</div>
